Godó Dániel <h045209@stud.u-szeged.hu> Dani Godó <gododani@gododani.onmicrosoft.com>
Godó Dániel <h045209@stud.u-szeged.hu> Dani Godó <h045209@stud.u-szeged.hu>
Lengyel Norbert Péter <h048198@stud.u-szeged.hu> Lengyel Norbert <lengyelnorbi5@gmail.com>