
body{
    font-family: 'Mntserrat', Sans-serif;
    background: #212120;
}

.container {
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    max-width: 100%;
}

.row-own{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.color-white{
    color: white;
}

.flip-box{
    max-height: 750px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
    margin: 35px 40px;
}

.flip-box-front, .flip-box-back{
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    border-radius: 8px;
    max-height: 510px;
    min-height: 510px;
    width: 310px !important;
    margin: 0 auto !important;
    transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    backface-visibility: hidden;
}
.series {
    background-image: url('../images/the_walking_dead.png');
}
.flip-box-front{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front{
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.flip-box-back{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto !important;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    background: black;
}

.flip-box:hover .flip-box-back{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.flip-box .inner{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 30px;
    max-height: 750px;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%)translateZ(60px) scale(.94);
    top: 50%;
}
.fa-star{
    color: orange;
}

.inner button{
    text-decoration: none;
}